input[type="number"] {
  width: 3em;
}
* {
    text-align: center;
}
body {
    background-color: darkblue;
    margin: 0 8em 0 8em;

}
h1 {
    background: orange;
    padding: 1em;
    overflow: hidden;
}
#top {
    font-family: cursive;
}
#subhead:hover {
    background: pink;
}
.header {
    font-weight: bold;
    color: green;
    transition: color 0.3s, background 0.3s;
}
.header:hover {
    color: yellow;
    background: purple;
}
#main_content {
    padding: 2em;
    background: black;
    color: white;
}

